*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

    @font-face {
        font-family: Gilroy-Heavy;
        src: url(/Fuentes/Gilroy-Heavy.ttf);
    }
    @font-face {
        font-family: Gilroy-Bold;
        src: url(/Fuentes/Gilroy-Bold.ttf);
    }
    @font-face {
        font-family: Gilroy-Regular;
        src: url(/Fuentes/Gilroy-Light.ttf);
    }

 



